* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "miFuente";
  src: url("../fonts/openSans.ttf");
}

html {
  font-family: miFuente;
  font-size: 100%;
}

body {
  background-color: #ffccff;
}

.contenedorGeneral {
  background: rgb(215, 230, 86);
  border: .1rem solid gray;
  width: fit-content;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2rem;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3), 3px 0px 3px rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}

.tituloGeneraLista {
  font-size: 1.2em;
  font-weight: 600;
}

.txtDatos {
  font-size: 1.2em;
  padding: 0.5rem;
}

.contenedorBotones {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  position: relative;
}

.boton {
  height: 1.5rem;
  padding: 0 0.5rem;
  display: grid;
  place-items: center;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 0.5rem;
}

.toastCopiar {
  background: rgba(0, 0, 0, 0.5);
  color: azure;
  padding: 0.2rem;
  border-radius: 0.2rem;
  position: absolute;
  top: -2rem;
  left: 11.7rem;
}

/* ESTILOS RESPONSIVOS */
/* DESKTOP FIRST */

/* LAPTOPS */
@media (max-width: 992px) {
}

/* TABLETS */
@media (max-width: 768px) {
}

/* CELULARES */
@media (max-width: 600px) {
  .contenedorGeneral {
    width: 90%;
    max-width: 90%;
    margin: 0.8rem auto;
  }

  .txtDatos {
    width: 100%;
    font-size: 1.1em;
  }

  .boton {
    height: 2rem;
    padding: 0 1.2rem;
    border: 1px solid black;
    color: black;
    font-size: 1.1em;
  }

  .toastCopiar {
    top: -2rem;
    left: 13.5rem;
  }
}

/* Celulares Landscape */
@media only screen and (orientation: landscape) {
  .contenedorGeneral {
    background: rgb(215, 230, 86);
    border: 1px solid gray;
    width: fit-content;
    height: 20rem;
    margin: .5rem auto;
  }

  .txtDatos {
    width: 100%;
    font-size: 1.1em;
  }

  .boton {
    height: 2rem;
    padding: 0 1.2rem;
    border: 1px solid black;
    color: black;
    font-size: 1.1em;
  }

  .toastCopiar {
    top: -2rem;
    left: 14.6rem;
  }
}
